body {
	padding: 0px!important;
	margin:	0px!important;
	
	overflow: scroll;
	
	font-family: arial, "Century Gothic";
	
	color: #333;
	/*text-shadow: 0px -1px 0px white;*/
}

body > div#board {
	white-space: nowrap; /* To prevent wrapping of inline-block */
	overflow: scroll;
	
	font-size:0px; /* The Hell? */
	padding: 36px 44.75px;
	margin:0px;
}

body > div#board a {
	color: inherit;
	text-decoration: none;
}

body > div#board a:hover {
	color: #FFF;
	text-shadow: 0px 1px 0px black;
}

body > div#board > ul {
	display: inline-block;
	position: relative;
	list-style-type: none;
	padding: 0px;

	margin-left: -8.75px;
	margin-right: -8.75px;
	
	margin-bottom: 123px;
}

body > div#board > ul.offset {
	top: 62px;
	/*left: -36px;*/
}

body > div#board > ul > li {
	width: 142px;
	height: 123px;
	padding: 0;
	/*padding-top: 1.8em;*/
	margin-left: inherit;
	margin-right: inherit;
	margin-bottom: 0px;
	background-image: url('unused-piece.png');
	background-position: center center;
	background-repeat: no-repeat;
	
	font-size: 18px;
	text-align: center;
}

body > div#board > ul > li.used {
	background-image: url('piece.png');
}

body > div#board > ul > li > * {
	position: absolute;
	width: 100%;
	padding-top: 1em;
	padding-left: 8.75px;
	padding-right: 8.75px;
	text-align: center;
}

body .blue-player, body .white-player {
	background-color: #666;
	border-radius: 3px;
	padding-left: 2px;
	padding-right: 2px;
}

body .blue-player {
	color: #45c8ff;
}

body .white-player {
	color: #FFFFFF;
}
